+++
title = "Minecraft Left2Die"
linkTitle = "Minecraft Left2Die"

+++

{{< blocks/cover title="Minecraft Left2Die" image_anchor="top" height="full" >}}
<div class="mx-auto">
	<h1>play.minecraftleft2die.com</h1><br>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/wiki" >}}">
		Wiki <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://minecraftleft2die.com/wiki/contribute/vote/">
		Vote <i class="fa-solid fa-ballot-check"></i>
	</a>
        <br>

	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Minecraft Left2Die is a Zombie Apocalypse themed, long-term survival game (not a mini-game). Players may loot and pillage anything within the zombie filled world in order to gather supplies to build anew in the safety of the plotworld.

Pretty much everything there is to know about the game is available on our <a href="{{< relref "/wiki" >}}">wiki</a>.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-solid fa-puzzle-piece" title="Maps and Puzzles" url="/wiki/gameplay/activities/puzzles/" %}}
Several maps and puzzles to explore and conquer!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-biohazard" title="Infection" url="/wiki/gameplay/features/infection/" %}}
Getting bit could prove deadly
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-solid fa-gem" title="Uniques" url="/wiki/gameplay/activities/uniques/" %}}
Hidden items to collect and brag about
{{% /blocks/feature %}}


{{< /blocks/section >}}



